#search{
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0;
 
}
li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color:  #001b44;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}

li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
}

li button {
  float: right;
  border: none;
  height: 40px;
  cursor: pointer;
  background-color: #ff7034;
  color: white;
  font-size: 1em;
}
  /* the old paths were working in local machine but not on github so changed to ../Assets/.. */
.cloud{
  background-image: url("../Assets/cloudy.png"); 
  background-repeat: no-repeat; 
  min-height: 5rem;
}
.rain{
  background-image: url("../Assets/rainy.png");
  background-repeat: no-repeat; 
  min-height: 5rem;
}
.snow{
  background-image: url("../Assets/snowy.png");
  background-repeat: no-repeat; 
  min-height: 5rem;
}
.thunder{
  background-image: url("../Assets/thunder.png");
  background-repeat: no-repeat; 
  min-height: 5rem;
}
.clear{
  background-image: url("../Assets/clear.png");
  background-repeat: no-repeat; 
  min-height: 5rem;
}
.mist{
  background-image: url("../Assets/mist-dust.png");
  background-repeat: no-repeat; 
  min-height: 5rem;
}
.background-melo {
  background-color: #124559;
}
.frame{
  border:beige solid 0.5rem;
  border-radius: 5%;
  background-color: rgb(2, 2, 39);
}
